
.back-cover{
    display: flex;
    justify-content: space-between;
    margin: 50px;

    
}
.box-size{
   font-size: 45px; 
   font-weight: 600;
}


.images-3{
    width: 480px;
    
}
.section-title{
   font-size: 35px; 
   font-weight:bold;
   color: #181818;
   
   
   
}
.section-description{
    font-size: 18px;
    
    color: #181818;
    
}
.secondary-bg{
    background-color: rgb(166, 225, 195);
    border-radius: 20px;
    padding: 50px;
    margin:80px
    max-width: 1500;
    margin:87px;
}

main{
    max-width: 1500;
    margin:87px;
}

.global{
    padding: 20px;
    margin: 10px

}
.sun{
    padding: 10px;
    margin: 0 30px 30px 30px;
    background-color: rgb(2, 113, 59);
    border-radius: 5px;
    color: aliceblue
}
.go{
    text-align: center;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 24px;
}








.normal{
    color:rgb(132, 132, 139);
}



.update{
    font-size: 60px;
    font-weight: 1000;

}
.button{
    background-color: rgb(3, 107, 67);
    color: aliceblue;
    border-radius: 5px;
    font-size: 28px;
    margin-top:55px ;
    margin-left:55px ;
    text-align: left;
    border: 5000px;
}
.description{
    font-size: 19px;
    margin-bottom: 25px;
    color: rgb(154, 156, 159);
}
.vision{
    padding: ;
}

.boxs{
    gap: 30px;
    display: flex;
    padding: px;
    margin-bottom: 80px;
}
    
    

.box-1{
    background-color: rgb(202, 239, 249);
    border-radius: 6px;
}
.box-2{
    background-color: rgb(195, 237, 222);
    border-radius: 6px;
}
.box-3{
    background-color: rgb(251, 237, 204);
    border-radius: 6px;
}
.box-4{
    display: flex;
    margin-top: 40px;
    padding: 30px 50px 30px 30px ;
    background-color: aliceblue;
    border-radius: 10px;
    margin-left: px;

}
.radius{
    border-radius: 10px;
}
.set{
    border-radius: 24px;
}
.right{
    margin-left: 20px;
}

.tom{
    background-color: rgb(2, 113, 59);
    border-radius: 5px;
    color: aliceblue;
    background-size: 50px;
    padding: 10px;

}
.dad{
    padding: 25px;
    background-color: aqua;
    border: 50px;
    align-items: center;

}
.money{
    padding:20px;
    border: 2px;
    display: inline;
    font-size: 20px;
    border: 50px;
    box-sizing: content-box;
    justify-content: center;

}
